name: Testing
on:
  pull_request:
  push:
    branches: ["*"]
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '*.rst'
    tags-ignore: ["*"]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ["3.11", "3.12", "3.13", "3.14"]
        postgres: [16, 17, 18]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '${{ matrix.python }}'

      - name: Set Timezone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "America/New_York"

      - name: Bootstrap environment and run tests
        run: ./bootstrap && ci/test
        env:
          CI: true
          POSTGRES_VERSION: ${{ matrix.postgres }}

      - name: Upload Coverage
        uses: codecov/codecov-action@v4
        with:
          file: build/coverage.xml
